@model Iris.ViewModels.UserInfoWidgetViewModel

<div class="col-xl-6 col-lg-12">
    <div class="px-3">
        <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2">
            <h2>اطلاعات شخصی</h2>
        </div>
        <div class="profile-section dt-sl">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                        <span>نام و نام خانوادگی:</span>
                    </div>
                    <div class="value-info">
                        @Html.DisplayTextFor(model => model.FirstName) @Html.DisplayTextFor(model => model.LastName)
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                        <span>پست الکترونیک:</span>
                    </div>
                    <div class="value-info">
                        @Html.DisplayTextFor(model => model.Email)
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                        <span>شماره تلفن همراه:</span>
                    </div>
                    <div class="value-info">
                        @Html.DisplayTextFor(model => model.Mobile)
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                        <span>کد پستی:</span>
                    </div>
                    <div class="value-info">
                        <span>@Html.DisplayTextFor(model => model.PostalCode)</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="label-info">
                        <span>آدرس:</span>
                    </div>
                    <div class="value-info">
                        <span>@Html.DisplayTextFor(model => model.Address)</span>
                    </div>
                </div>
            </div>
            <div class="profile-section-link">
                <a href="#" class="border-bottom-dt">
                    <i class="mdi mdi-account-edit-outline"></i>
                    ویرایش اطلاعات شخصی
                </a>
            </div>
        </div>
    </div>
</div>
