@model Iris.Web.ViewModels.Identity.ProfileViewmodel
@using Microsoft.AspNet.Identity
@using Iris.DomainClasses
@using Iris.ViewModels
@using Iris.Web.ViewModels
@{
    ViewBag.Title = "حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>
        <div>
            <h3 color:blue">@ViewBag.Title</h3>
            <p class="text-success">@ViewBag.StatusMessage</p>
            <p class="text-success">@TempData["Message"]</p>
            <hr />
            <div class="row">
                <div class="col-md-8 ">
                    <p class="btn btn-effect" style="color:black;border:solid 1px red">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("تغییر گذرواژه", "ChangeUserPassword", "Account", routeValues: new { Area = "" }, htmlAttributes: new { title = "" })
                        }
                        else
                        {
                            @Html.ActionLink("بازنشانی گذرواژه", "ResetPassword", "Account", routeValues: new { Area = "" }, htmlAttributes: new { title = "" })
                        }
                    </p>
                    <hr />
                    <p class="btn btn-effect" style="color:black;border:solid 1px green">
                        @Html.ActionLink("درج اطلاعات حساب کاربری", "UserProfile")
                    </p>
                    <hr />
                </div>
            </div>
        </div>
    </div>*@

<div class="container main-container">
    <div class="row">
        <!-- Start Sidebar -->
        @Html.Partial("~/Areas/User/Views/Widget/_ProfileSidebarWidget.cshtml")
        <!-- End Sidebar -->
        <!-- Start Content -->
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
            <div class="row">

                @Html.Partial("~/Areas/User/Views/Widget/_UserInfoMiniWidget.cshtml")

                @Html.Partial("~/Areas/Product/Views/Widget/_LovelyProductsWidget.cshtml")

            </div>
            <div class="row mt-5">
                @Html.Partial("~/Areas/ShoppingCart/Views/Widget/_FactorListPortableWidget.cshtml")
            </div>
        </div>
        <!-- End Content -->
    </div>
    <div class="mt-5">
        <!-- Start Product-Slider -->
        @if (((List<ProductWidgetViewModel>)ViewData["RecommendedProducts"]).Any())
        {
            <!-- Start Product-Slider -->

            Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
            {
                Title = "محصولات پیشنهادی برای شما",
                CarouselId = "RecommendedProductCarousel",
                Products = ViewData["RecommendedProducts"] as List<ProductWidgetViewModel>,
                LinkText = "مشاهده همه",
                Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name })}#/page/all/empty/1/ViewNumber/desc",
                ShowCount = 20
            });
            <!-- End Product-Slider -->
        }
        <!-- End Product-Slider -->
    </div>
</div>