@model Iris.Web.ViewModels.Identity.ProfileViewmodel
@{
    ViewBag.Title = "اطلاعات شخصی";
    Layout = "~/Areas/User/Views/Shared/_ProfileLayout.cshtml";
}
<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
    <div class="row">

        <div class="col-md-10 col-sm-12 mx-auto">
            <div class="px-3 px-res-0">
                <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                    <h2>ویرایش اطلاعات شخصی</h2>
                </div>
                <div class="form-ui additional-info dt-sl dt-sn pt-4">

                    @{if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(ViewBag.FirstName) && !string.IsNullOrEmpty(ViewBag.LastName) && !string.IsNullOrEmpty(ViewBag.Mobile) && !string.IsNullOrEmpty(ViewBag.Address))
                        {
                            using (Html.BeginForm("UserProfile", "Home", new { area = "User" }, FormMethod.Post, new { id = "frmSubmitProfile" }))
                            {
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-row-title">
                                                <h3>نام</h3>
                                            </div>
                                            <div class="form-row">
                                                @Html.TextBoxFor(m => Model.FirstName, htmlAttributes: new { @Value = ViewBag.FirstName, @class = "input-ui pr-2", placeholder = "نام خود را وارد نمایید" })
                                                @Html.ValidationMessageFor(x => x.FirstName)
                                            </div>
                                        </div>
                                        <div class="form-row-title">
                                            <h3>نام خانوادگی</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => Model.LastName, htmlAttributes: new { @Value = ViewBag.LastName, @class = "input-ui pr-2", placeholder = "نام خانوادگی خود را وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.LastName)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>شماره تلفن</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => Model.Mobile, htmlAttributes: new { @Value = ViewBag.Mobile, @class = "input-ui pl-2", placeholder = "شماره موبایل خود را وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.Mobile)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>آدرس</h3>
                                        </div>
                                        <div class="form-row">
                                            <textarea name="Address" id="Address" class="input-ui pr-2" placeholder="آدرس پستی خود را وارد نمایید" value="@ViewBag.Address">@ViewBag.Address</textarea>
                                            @Html.ValidationMessageFor(x => x.Address)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>آدرس صندوق الکترونیکی</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @Value = ViewBag.Email, @class = "input-ui pl-2", placeholder = "آدرس ایمیل خود را وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.Email)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>کد پستی (بدون خط تیره)</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => Model.PostalCode, htmlAttributes: new { @Value = ViewBag.PostalCode, @class = "input-ui pl-2", placeholder = "کد پستی خود را بدون خط تیره وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.PostalCode)
                                        </div>

                                        <div class="form-row mt-2">
                                            <div class="custom-control custom-checkbox float-right mt-2">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="customCheck4">
                                                <label class="custom-control-label text-justify" for="customCheck4">
                                                    اشتراک در خبرنامه ما
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-row-title">
                                            <h3>عکس پروفایل</h3>
                                        </div>
                                        <div class="form-row mt-2">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                           id="inputGroupFile04"
                                                           aria-describedby="inputGroupFileAddon04">
                                                    <label class="custom-file-label" for="inputGroupFile04">
                                                        انتخاب
                                                        عکس
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-row mt-3 justify-content-center">
                                            <button id="btnSumbit" type="submit" class="btn-primary-cm btn-with-icon ml-2">
                                                <i class="mdi mdi-account-circle-outline"></i>
                                                ثبت اطلاعات کاربری
                                            </button>
                                            <button class="btn-primary-cm bg-secondary">انصراف</button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("UserProfile", "Home", new { area = "User" }, FormMethod.Post, new { id = "frmSubmitProfile" }))
                            {
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-row-title">
                                                <h3>نام</h3>
                                            </div>
                                            <div class="form-row">
                                                @Html.TextBoxFor(m => Model.FirstName, htmlAttributes: new { @Value = ViewBag.FirstName, @class = "input-ui pr-2", placeholder = "نام خود را وارد نمایید" })
                                                @Html.ValidationMessageFor(x => x.FirstName)
                                            </div>
                                        </div>
                                        <div class="form-row-title">
                                            <h3>نام خانوادگی</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => Model.LastName, htmlAttributes: new { @Value = ViewBag.LastName, @class = "input-ui pr-2", placeholder = "نام خانوادگی خود را وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.LastName)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>شماره تلفن</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => Model.Mobile, htmlAttributes: new { @Value = ViewBag.Mobile, @class = "input-ui pl-2", placeholder = "شماره موبایل خود را وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.Mobile)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>آدرس</h3>
                                        </div>
                                        <div class="form-row">
                                            <textarea name="Address" id="Address" class="input-ui pr-2" placeholder="آدرس پستی خود را وارد نمایید" value="@ViewBag.Address">@ViewBag.Address</textarea>
                                            @Html.ValidationMessageFor(x => x.Address)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>آدرس صندوق الکترونیکی</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @Value = ViewBag.Email, @class = "input-ui pl-2", placeholder = "آدرس ایمیل خود را وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.Email)
                                        </div>
                                        <div class="form-row-title">
                                            <h3>کد پستی (بدون خط تیره)</h3>
                                        </div>
                                        <div class="form-row">
                                            @Html.TextBoxFor(m => Model.PostalCode, htmlAttributes: new { @Value = ViewBag.PostalCode, @class = "input-ui pl-2", placeholder = "کد پستی خود را بدون خط تیره وارد نمایید" })
                                            @Html.ValidationMessageFor(x => x.PostalCode)
                                        </div>

                                        <div class="form-row mt-2">
                                            <div class="custom-control custom-checkbox float-right mt-2">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="customCheck4">
                                                <label class="custom-control-label text-justify" for="customCheck4">
                                                    اشتراک در خبرنامه ما
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-row-title">
                                            <h3>عکس پروفایل</h3>
                                        </div>
                                        <div class="form-row mt-2">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                           id="inputGroupFile04"
                                                           aria-describedby="inputGroupFileAddon04">
                                                    <label class="custom-file-label" for="inputGroupFile04">
                                                        انتخاب
                                                        عکس
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-row mt-3 justify-content-center">
                                            <button id="btnSumbit" type="submit" class="btn-primary-cm btn-with-icon ml-2">
                                                <i class="mdi mdi-account-circle-outline"></i>
                                                ثبت اطلاعات کاربری
                                            </button>
                                            <button class="btn-primary-cm bg-secondary">انصراف</button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }

                    }



                </div>
            </div>
        </div>

    </div>
</div>
