@model Iris.ViewModels.AuctionItemViewModel
@{
    ViewBag.Title = $"{Model.Title} حراجی";
    int status = ViewBag?.IsSuccess ?? -100;
    
}

@section styles{
    <style>
        .product-thumbnails > a {
            height: auto;
        }

        .discountPrice {
            font-size: 20px !important;
            color: #f7858d;
            text-decoration-line: line-through;
        }

        @@media (max-width: 480px) {
            .discountPrice {
                font-size: 12px !important;
            }
        }

        .bkGray {
            background-color: #6f7479 !important;
        }
    </style>
    <link href="~/Content/css/vendor/fancybox.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/product-page")
}
<div class="header-cover">
    <div class="promotion-header-img"></div>
</div>
<div class="container main-container">
    <!-- Start title - breadcrumb -->
    <div class="title-breadcrumb-special dt-sl mb-3">
        <div class="breadcrumb dt-sl">
            <nav>
                <a href="@Url.Action("Index", "SearchAuction", new { @area = "AuctionManagement" })" style="color:white;">حراجی</a>
                <a href="#" style="color:white;">@Model.Title</a>
            </nav>
        </div>
    </div>
    <!-- End title - breadcrumb -->
    <!-- Start Product -->
    <div class="dt-sn mb-5 dt-sl">
        <div class="row">
            <!-- Product Gallery-->
            <div class="col-lg-4 col-md-6 ps-relative">
                <!-- Product Options-->

                <div class="product-timeout position-relative pt-5 mb-3">

                    @if (Model.StopDate > DateTime.Now)
                    {
                        <div class="promotion-badge">
                            فروش ویژه
                        </div>
                        <div class="countdown-timer" countdown data-date="@Model.StopDate.ToString("MM dd yyyy HH:mm:ss")">
                            <!-- 10 24 2019 20:20:22-->
                            @{
                                var amontTime = DateTime.Now - Model.StopDate;
                            }
                            <span data-days>@amontTime.Days</span>:
                            <span data-hours>@amontTime.Hours</span>:
                            <span data-minutes>@amontTime.Minutes</span>:
                            <span data-seconds>@amontTime.Seconds</span>
                        </div>
                    }
                    else
                    {
                        <div class="product-timeout position-relativ">
                            <div class="promotion-badge not-available">
                                حراجی تمام شده است
                            </div>
                        </div>
                        <div class="countdown-timer" countdown data-date="@DateTime.Now.ToString("MM dd yyyy HH:mm:ss")">
                            <!-- 10 24 2019 20:20:22-->
                            <span data-days>0</span>:
                            <span data-hours>0</span>:
                            <span data-minutes>0</span>:
                            <span data-seconds>0</span>
                        </div>
                    }

                </div>

                <div class="product-gallery">
                    <span class="badge">این آگهی مورد تایید است</span>
                    <!-- Image List -->
                    <div class="product-carousel owl-carousel">

                        <div class="item">
                            <a class="gallery-item" href="@Model.ImageAddress" style="text-align: -webkit-center;"
                               data-fancybox="gallery1" data-hash="@Model.ImageAddress.GetHashCode()">
                                <img style="width:223px;" src="@Model.ImageAddress" alt="@Model.Title">
                            </a>
                        </div>


                    </div>

                </div>
            </div>
            <!-- Product Info -->
            <div class="col-lg-8 col-md-6 pb-5">
                <div class=" title-wide no-after-title-wide" style="position: absolute; left: 30px; top: -5px;">
                    <a href="@Request.Url" class="" style="display:block">
                        بروز رسانی
                        <i class="mdi mdi-refresh"></i>
                    </a>
                </div>
                <div class="product-info dt-sl">

                    <div class="product-title dt-sl pt-md-2">
                        <h1>
                            @Model.Title
                        </h1>
                    </div>
                    <div class="product-variant dt-sl">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0">
                            <h2>توضیحات محصول:</h2>
                        </div>
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                            <p>
                                @Model.Body
                            </p>
                        </div>
                    </div>

                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                        <h2>زمان شروع حراجی : @(Model.StartDateFaFull)</h2>
                    </div>

                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                        <h2>زمان پایان حراجی : @(Model.StopDateFaFull)</h2>
                    </div>

                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                        <h2>مالک حراجی : @($"{Model.PostedByUser.FirstName} {Model.PostedByUser.LastName}")</h2>
                    </div>

                    <div class="product-price">

                        @if (Model.StartDate < DateTime.Now && Model.StopDate > DateTime.Now)
                        {

                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>
                                    قیمت :
                                    از
                                    <span class="price" style="font-size: 20px;">@Html.DisplayFor(model => model.MiniPrice) تومان</span>
                                    تا
                                    <span class="price" style="font-size: 20px;">@Html.DisplayFor(model => model.MaxPrice) تومان</span>
                                </h2>
                            </div>
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>
                                    آخرین قیمت اعلامی :
                                    @{
                                        var lastBidPrice = Model?.BidHistories?.LastOrDefault()?.BidPrice ?? 0;
                                    }
                                    <span class="price" style="font-size: 20px;">@(lastBidPrice > 0 ? $"{lastBidPrice.ToString("###,###")} تومان" : "پیشنهادی یافت نشد")</span>

                                </h2>
                            </div>
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>
                                    برنده تا به این لحظه :
                                    @{
                                        var lastBid = Model?.BidHistories?.LastOrDefault();

                                        var FullName = (lastBid?.User?.Id ?? 0) > 0 ? $"{lastBid.User.FirstName} {lastBid.User.LastName}" : "کاربری یافت نشد";

                                    }
                                    <span class="price" style="font-size: 20px;">@(FullName)</span>

                                </h2>
                            </div>
                        }
                        else if (Model.StartDate > DateTime.Now)
                        {
                            <label class="label label-info" style="font-size: 26px;color: #00bfd6;">حراجی شروع نشده است</label>
                        }
                        else if (Model.StopDate < DateTime.Now)
                        {
                            <label class="label label-danger" style="font-size: 26px;color: #f7858d;">حراجی تمام شده است</label>
                        }


                    </div>

                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                        <h2>
                            پیمانه هر پیشنهاد :
                            <span class="price" style="font-size: 20px;">
                                @( ( (int)(Model.MiniPrice/1000) ).ToString("###,###") )
                            </span>
                            <span>
                                سکه
                            </span>
                        </h2>

                    </div>

                    <div class="dt-sl mt-4">

                        @if (Model.StartDate < DateTime.Now && Model.StopDate > DateTime.Now)
                        {
                            <button id="btnAdd" data-product-id="@Model.Id" class="btn-primary-cm btn-with-icon"
                                    onclick="location = '@Url.Action("AddBid", "BidHistory", new { @area = "AuctionManagement", @auctionItemId = Model.Id })';">
                                @*<img src="~/Content/img/theme/shopping-cart.png" alt="@Model.Title" />*@
                                <i class="mdi mdi-gavel"></i>
                                پیشنهاد قیمت
                            </button>
                        }
                        else
                        {
                            <button id="btnAdd" disabled data-product-id="@Model.Id" class="btn-primary-cm btn-with-icon bkGray"
                                    onclick="location = '@Url.Action("AddBid", "BidHistory", new { @area = "AuctionManagement", @auctionItemId = Model.Id })';">
                                @*<img src="~/Content/img/theme/shopping-cart.png" alt="@Model.Title" />*@
                                <i class="mdi mdi-gavel"></i>
                                پیشنهاد قیمت
                            </button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{
    <script src="~/Scripts/js/vendor/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/js/vendor/countdown.min.js"></script>
    @Scripts.Render("~/bundles/product-page")
    @if (status > -100)
    {
        <script>
            $(function () {
                @if ((int)Utilities.Enums.BidRequestState.NotAutorize == status) {
                    @:toastr.error("شما باید وار حساب کاربریتان شوید", "");
                }
                else if ((int)Utilities.Enums.BidRequestState.Complited == status) {
                    @:toastr.info("پیشنهاد شما با موفق ثبت شد", "");
                }
                else if ((int)Utilities.Enums.BidRequestState.NotMatchCoin == status) {
                    @:toastr.error("سکه های شما از پیمانه این محصول کمتر است", "");
                }
            });
        </script>
    }
}
