@model  Iris.ViewModels.ListFactorViewModel
@using Utilities;
@using Iris.DomainClasses
@using Iris.ViewModels
@using Iris.Web.ViewModels
@{
    ViewBag.Title = "وضعیت خرید";
    Layout = "~/Areas/ShoppingCart/Views/Shared/_FactorLayout.cshtml";
}

<div class="container main-container">

    <div class="row">
        <div class="cart-page-content col-12 px-0">
            @if (Model.Status.Equals(Iris.DomainClasses.FactorStatus.Paid))
            {
                <div class="checkout-alert dt-sn mb-4">
                    <div class="circle-box-icon successful">
                        <i class="mdi mdi-check-bold"></i>
                    </div>
                    <div class="checkout-alert-title">
                        <h4>
                            سفارش <span class="checkout-alert-highlighted checkout-alert-highlighted-success">DDC-@(Model?.PublicId.ToString().Split('-').FirstOrDefault() ?? "")</span>
                            با موفقیت در سیستم ثبت شد.
                        </h4>
                    </div>
                    <div class="checkout-alert-content">
                        <p class="checkout-alert-content-success">
                            سفارش نهایتا تا یک روز آماده ارسال خواهد شد.
                        </p>
                    </div>
                </div>
            }
            else if (Model.Status.Equals(Iris.DomainClasses.FactorStatus.Cancelled))
            {
                <div class="checkout-alert dt-sn mb-4">
                    <div class="circle-box-icon failed">
                        <i class="mdi mdi-close"></i>
                    </div>
                    <div class="checkout-alert-title">
                        <h4>
                            سفارش <span class="checkout-alert-highlighted checkout-alert-highlighted-success">DDC-@(Model?.PublicId.ToString().Split('-').FirstOrDefault() ?? "")</span>
                            ثبت شد اما پرداخت ناموفق بود.
                        </h4>
                    </div>
                    <div class="checkout-alert-content">
                        <p>
                            <span class="checkout-alert-content-failed">
                                برای جلوگیری از لغو سیستمی سفارش، تا ۱
                                ساعت آینده پرداخت را انجام دهید.
                            </span>
                            <br>
                            <span class="checkout-alert-content-small px-res-1">
                                چنانچه طی این فرایند مبلغی از حساب شما کسر شده است، طی ۷۲ ساعت آینده به حساب شما
                                باز خواهد گشت.
                            </span>
                        </p>
                    </div>
                </div>
                <section class="page-content dt-sl">
                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                        <h2>انتخاب شیوه پرداخت</h2>
                    </div>
                    <form method="post" id="shipping-data-form" class="dt-sn pt-3 pb-3 mb-4">
                        <div class="checkout-pack">
                            <div class="row">
                                <div class="checkout-time-table checkout-time-table-time">
                                    <div class="col-12">
                                        <div class="radio-box custom-control custom-radio pl-0 pr-3">
                                            <input type="radio" class="custom-control-input" name="post-pishtaz"
                                                   id="1" value="1" checked>
                                            <label for="1" class="custom-control-label">
                                                <i class="mdi mdi-credit-card-outline checkout-additional-options-checkbox-image"></i>
                                                <div class="content-box">
                                                    <div class="checkout-time-table-title-bar checkout-time-table-title-bar-city">
                                                        پرداخت اینترنتی هوشمند دیجی‌کالا
                                                        <span class="help-sn" data-toggle="tooltip"
                                                              data-html="true" data-placement="bottom"
                                                              title="<div class='help-container is-left'><div class='help-arrow'></div><p class='help-text'>با پرداخت اینترنتی، سفارش شما با اولویت بیشتری نسبت به پرداخت در محل پردازش و ارسال می شود. در صورت پرداخت ناموفق هزینه کسر شده حداکثر طی ۷۲ ساعت به حساب شما بازگردانده می‌شود.</p></div>">
                                                            <span class="mdi mdi-information-outline"></span>
                                                        </span>
                                                    </div>
                                                    <ul class="checkout-time-table-subtitle-bar">
                                                        <li>
                                                            آنلاین با تمامی کارت‌های بانکی
                                                        </li>
                                                    </ul>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="radio-box custom-control custom-radio pl-0 pr-3">
                                            <input type="radio" class="custom-control-input" name="post-pishtaz"
                                                   id="2" value="2">
                                            <label for="2" class="custom-control-label">
                                                <i class="mdi mdi-credit-card-multiple-outline checkout-additional-options-checkbox-image"></i>
                                                <div class="content-box">
                                                    <div class="checkout-time-table-title-bar checkout-time-table-title-bar-city">
                                                        پرداخت اعتباری دیجی‌پی
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-end px-res-1">
                        <div class="col-lg-3 col-md-4 col-sm-5 col-12">
                            <button class="btn-primary-cm btn-with-icon  w-100">
                                <i class="mdi mdi-credit-card-outline"></i>
                                پرداخت سفارش
                            </button>
                        </div>
                    </div>
                </section>
            }

            <section class="checkout-details dt-sl dt-sn mt-4 pt-2 pb-3 pr-3 pl-3 mb-5 px-res-1">
                <div class="checkout-details-title">
                    <h4>
                        کد سفارش:
                        <span>
                            DDC-@(Model?.PublicId.ToString().Split('-').FirstOrDefault() ?? "")
                        </span>
                    </h4>
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-sm-12">
                            <div class="checkout-details-title">
                                <p>
                                    سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون
                                    @if (Model.Status.Equals(Iris.DomainClasses.FactorStatus.Paid))
                                    {
                                        <span class="text-highlight text-highlight-success">تکمیل شده</span>
                                    }
                                    else
                                    {
                                        <span class="text-highlight text-highlight-error">
                                            در انتظار
                                            پرداخت
                                        </span>
                                    }
                                    است.
                                    جزئیات این سفارش را می‌توانید با کلیک بر روی دکمه
                                    <a href="#" class="border-bottom-dt">پیگیری سفارش</a>
                                    مشاهده نمایید.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <a href="#"
                               class="btn-primary-cm bg-secondary btn-with-icon d-block text-center pr-0">
                                <i class="mdi mdi-shopping"></i>
                                پیگیری سفارش
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 px-res-0">
                            <div class="checkout-table">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p>
                                            نام تحویل گیرنده:
                                            <span>
                                                @(Model.Name + " " + Model.LastName)
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p>
                                            شماره تماس :
                                            <span>
                                                @Model.PhoneNumber
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p>
                                            تعداد مرسوله :
                                            <span>
                                                ۱
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p>
                                            مبلغ کل:
                                            <span>
                                                @Html.DisplayFor(model => model.TotalPrice) تومان
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p>
                                            روش پرداخت:
                                            <span>
                                                پرداخت اینترنتی

                                                @if (Model.Status.Equals(Iris.DomainClasses.FactorStatus.Paid))
                                                {
                                                    <span class="green">
                                                        (موفق)
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="red">
                                                        (ناموفق)
                                                    </span>
                                                }

                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p>
                                            وضعیت سفارش:
                                            <span>
                                                @Model.Status.GetEnumDescription()
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            آدرس :
                                            @Model.Address
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Start Product-Slider -->
            @if (((List<ProductWidgetViewModel>)ViewData["RecommendedProducts"]).Any())
            {
                <!-- Start Product-Slider -->
                
                Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
                {
                    Title = "محصولات پیشنهادی برای شما",
                    CarouselId = "RecommendedProductCarousel",
                    Products = ViewData["RecommendedProducts"] as List<ProductWidgetViewModel>,
                    LinkText = "مشاهده همه",
                    Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name })}#/page/all/empty/1/ViewNumber/desc",
                    ShowCount = 20
                });
                <!-- End Product-Slider -->
            }
            <!-- End Product-Slider -->
        </div>
    </div>

</div>