@model  List<Iris.ViewModels.ListFactorViewModel>
@{ 
    var i = 1;
}
    <div class="col-12">
        <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
            <h2>آخرین سفارش‌ها</h2>
        </div>
        <div class="dt-sl">
            <div class="table-responsive">
                <table class="table table-order">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>شماره سفارش</th>
                            <th>تاریخ ثبت سفارش</th>
                            <th>مبلغ قابل پرداخت</th>
                            <th>مبلغ کل</th>
                            <th>عملیات پرداخت</th>
                            <th>جزییات</th>
                        </tr>
                    </thead>
                    <tbody>

                        
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>DDC-@item.PublicId.ToString().Split('-').First()</td>
                                <td>@(new PersianDateTime(item.IssueDate).ToString(PersianDateTimeFormat.FullDate))</td>
                                <td>@item.TotalPrice.ToString("###,###")</td>
                                <td>@item.TotalPriceNormal.ToString("###,###")</td>
                                <td>@(Utilities.EnumExtensions.GetEnumDescription(item.Status))</td>
                                <td class="details-link">
                                    <a href="@Url.Action("DetailFactor","Home", new { area = "ShoppingCart", id = item?.Id??0 })">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </td>
                            </tr>
                        }


                        <tr>
                            <td class="link-to-orders" colspan="7">
                                <a href="@Url.Action("userfactor","Home", new { area = "ShoppingCart" })">
                                    مشاهده لیست سفارش
                                    ها
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>